canvas {
    border: 1px solid #000;
    background-color: white;
}

#serif {
    font-family: 'serif';
}

#Germania_One {
    font-family: 'Germania One',
        cursive;
}

#Lato {
    font-family: 'Lato',
        sans-serif;
}

#Raleway {
    font-family: 'Raleway',
        sans-serif;
}

#Merriweather {
    font-family: 'Merriweather',
        serif;
}

#serRoboto_Slabif {
    font-family: 'Roboto Slab',
        serif;
}

#Open_Sans_Condensed {
    font-family: 'Open Sans Condensed',
        sans-serif;
}

#Playfair_Display {
    font-family: 'Playfair Display',
        serif;
}

/* .nav-link {
    background-color: white;
    color:rgb(182, 87, 87)!important;
} */

.tsb:hover {
    color: white;
}

a:hover {
    color: white !important;
}

#leftdiv p:hover {
    color: white !important;
}

#leftdiv p {
    font-size: 100%;
}

body {
    background-color: #444444 !important;
    /* cursor: crosshair; */
    font-family: 'Noto Serif TC', serif;
    font-weight: bold !important;
}

.poly_choi {
    font-family: 'Noto Serif TC', serif;

}

.poly_choi:hover {
    color: white;
}

a {
    font-family: 'Noto Serif TC', serif;
    font-weight: bold !important;
    font-size: 1.5em !important;
}

#siz_ran {
    width: 200%;
    height: 5px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
    margin-left: 40%;
    margin-top: 100%;
    -webkit-appearance: none;
    outline: none;
    background: black;
}

#era_siz_ran {
    width: 200%;
    height: 5px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
    margin-left: 40%;
    margin-top: 100%;
    -webkit-appearance: none;
    outline: none;
    background: black;
}

#text_siz_ran {
    width: 200%;
    height: 5px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
    margin-left: 40%;
    margin-top: 100%;
    -webkit-appearance: none;
    outline: none;
    background: black;
}

#poly_siz_ran {
    width: 200%;
    height: 5px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
    margin-left: 40%;
    margin-top: 100%;
    -webkit-appearance: none;
    outline: none;
    background: black;
}

#text_A {
    position: absolute;
    top: 55%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 30px;
    height: 30px;
    background: green;
    border-radius: 50%;
    transition: .2s;
}

#painter {
    color: white;
}

#l {
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
    /* background-color: #00d1cd; */
    background-image: linear-gradient(to bottom, #00d1cd, #00d1ceda, #00d1ceb7, rgba(0, 209, 206, 0.692), rgba(0, 209, 206, 0.219), rgba(0, 209, 206, 0.014));
    float: left;
    text-align: center;
}

#color_bar {
    width: 35%;
    height: 500px;
    /* background-image: linear-gradient(to bottom, red, orange, yellow, green, blue, #4A09AB, purple); */
    margin-left: 32.5%;
    cursor: crosshair;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
}

#r {
    width: 50%;
    height: 100%;
    /* background-color:#c9fcfbda; */
    background-image: linear-gradient(to bottom, #c9fcfb, #c9fcfbc9, #c9fcfbb2, #c9fcfb98, #c9fcfb81, #c9fcfb00);
    float: left;
}

#leftdiv {
    margin-top: 2%;
    width: 20%;
    height: 85%;
    float: left;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

#middiv {
    margin-top: 2%;
    width: 100%;
    float: middle;
    position: absolute;
    right: 10%;
}

.navbar-brand {
    font-size: 1.5em !important;
}

#navb {
    background-color: #f30067 !important;
}

#buttons {
    position: absolute;
    margin: 5px;
}

#reset {
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}

.color {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#purple {
    background-color: purple;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#pink {
    background-color: pink;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}

#gray {
    background-color: gray;
    margin-right: 20px;
}

/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ede68a;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

*/